rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /sensors/{sensorId} {
      allow read, list: if true;
      allow write: if false;
    }
  }
}
